.header {
  z-index: -10;
  position: relative;
  background-color: $color-primary-dark;

  &::before {
    content: url("/images/bg-pattern-intro-left-mobile.svg");
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  &::after {
    content: url("/images/bg-pattern-intro-right-mobile.svg");
    position: absolute;
    top: 83%;
    right: 0;
    z-index: -1;
  }

  &__img {
    width: 100%;
    height: auto;
  }
  &__text-box {
    @include text-box;
  }
}
