.header {
    background-color: $color-primary-dark;
    &__img-box{


    }
    &__img{
        max-width: 100%;
    }
    &__text-box {
        padding: 5rem 2.5rem;
        text-align: center;
    }
}