//colors
$color-primary-dark: hsl(256, 26%, 20%);
$color-primary-light: hsl(216, 30%, 68%);

$color-secondary-dark: hsl(270, 9%, 17%);

$color-heading: hsl(0, 0%, 98%);
$color-body: hsl(0, 0%, 98%);

$color-violet-light: hsl(273, 4%, 51%);


//font styles
$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif;

