.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 2.5rem;
    letter-spacing: 2px;
    color: $color-heading;
    font-family: $font-body;
    border: 1px solid $color-heading;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;

    @include breakpoint-up(large) {
      margin-left: 0;
      padding: 1rem 3rem;
      &:hover {
        background-color: $color-heading;
        color: $color-primary-dark;
      }
    }
  }
}
