.heading-primary {
  &--main {
    @include header-text;
    font-size: 4rem;
    @include breakpoint-up(large){
      font-size: 6rem;
    }

  }
  &--sub {
    @include body-text;

    @include breakpoint-up(large){
      padding-left: 0;
    }
    @include breakpoint-up(large){
      font-size: 1.5rem;
    }
  }
}
.heading-secondary {
  @include header-text;
  color: $color-secondary-dark;
  font-size: 3.5rem;
  font-weight: 400;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 35%;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba($color-violet-light, 0.4);
  }
}
.heading-tertiary {
  font-size: 2rem;

  padding: 1rem;
  color: $color-secondary-dark;
}
.paragraph {
  @include body-text;
  padding: 0 4rem 5rem;
  color: $color-violet-light;
  line-height: 1.7;

}

.footer-title {
  @include body-text;
  color: $color-violet-light;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 1.3rem;
  padding: 2rem 0 3rem;

}

